.signup-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.signup-box {
  color: white;
  background-color: rgb(32, 33, 36);
  height: 660px;
  width: 400px;
  border-radius: 1rem;
  padding-left: 3%;
  padding-right: 5%;
  padding-top: 2rem;
}

.signup-form > h2 {
  font-weight: 300 !important;
	margin-bottom: 1rem; 
}

.signup-form > label {
  margin-top: 1rem;
}

/* .chakra-form-control > input {
	border-radius: 0 !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
} */

.recaptcha {
  margin-top: 1rem;
  padding: 0;
}

.register-user-button-container {
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.register-user-button-container > button {
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  border-radius: 50px;
  height: min-content !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
}

.already-registered {
	cursor: pointer;
}

.already-registered:hover {
	text-decoration: underline;
}