.exit-page {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 95vw;
  margin: 0 auto !important;
  column-gap: 24px;
}

.exit-images-container-mobile {
  display: none;
}
.exit-page-map-mobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  .exit-images-container-mobile {
    display: inline;
  }
  .exit-images-container-wide {
    display: none;
  }
  .exit-page-map-mobile {
    display: inline;
  }
  .exit-page-map-wide {
    display: none;
  }
}