.exit-page {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 95vw;
  margin: 0 auto !important;
  column-gap: 24px;
}

.exit-right {
  margin-top: 12px;
}

.css-a5mhaz {
  /* This is the tab container for the map */
  height: 600px;
}

.exit-images-container-mobile {
  display: none;
}
.exit-page-map-mobile {
  display: none;
  margin-top: 1rem;
}

.exit-page-map-wide {
  height: 60vw;
}

.tab-list {
  width: min-content;
}

@media only screen and (max-width: 700px) {
  .exit-images-container-mobile {
    display: block;
  }
  .exit-images-container-wide {
    display: none;
  }
  .exit-page-map-mobile {
    display: block;
    height: 80vh;
  }
  .exit-right {
    display: none;
  }
}

.upload-button-container {
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.image-error-message {
  color: red;
}

.chakra-modal__close-btn {
  z-index: 1000;
}
