.change-password form {
  margin: 1rem auto;
  width: clamp(200px, 90%, 600px);
}

.change-password label {
  margin: 0 !important;
}

.change-password input,
.change-password textarea {
  margin: 0 !important;
  margin-bottom: 2rem !important;
}

.input-dark {
  border: 1px solid white !important;
}
.input-dark:focus {
  border: 1px solid #ccae76 !important;
  box-shadow: 0px 0px 5px #ccae76 !important;
}
.input-light {
  border: 1px solid black !important;
}
.input-light:focus {
  border: 1px solid #ccae76 !important;
  box-shadow: 0px 0px 10px #ccae76 !important;
}
