.dash-submit {
  min-height: max-content;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

.content {
  display: grid !important;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100% !important;
}

.submit-success-div {
  text-align: center;
  margin-top: 10%;
}
.submit-success-div h4 {
  font-weight: 200 !important;
  font-size: 3rem !important;
}
.submit-success-div div {
  font-weight: 300 !important;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.submit-success-div button {
  margin-top: 1rem;
}
