.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.login-box {
  color: white;
  background-color: rgb(32, 33, 36);
  height: 390px;
  width: 400px;
  border-radius: 1rem;
  padding-left: 3%;
  padding-right: 5%;
  padding-top: 2rem;
}

.login-form > h2 {
  font-weight: 300 !important;
	margin-bottom: 1rem;
}

.login-form .chakra-form-control > input {
	margin-bottom: 1rem;
}

.demo-user-link {
  margin-top: 1rem;
  opacity: 30%;
}

.demo-user-link:hover  {
  cursor: pointer;
  text-decoration: underline;
}