.avatar-comments {
	align-self: flex-start;
  height: clamp(2.5rem, 3vw, 4vw) !important;
	/* height: clamp(3rem, 6vw, 65%); */
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.comments {
	margin-top: 12px;
}

.comments-title {
	text-align: center;
	margin-bottom: 0.5rem;
}

.comment {
	align-items: center;
	margin-bottom: 24px;
}

.comment-username {
	font-weight: 600;
	margin-right: 0.5rem;
}