.states-bar {
	display: flex;
	gap: clamp(0.3rem, 1vw, 2rem);
	list-style-type: none !important;
	margin-bottom: 28px;
}

.state {
	/* border: 1px solid white; */
	padding: 2px;
	white-space: nowrap;
	font-size: clamp(1rem, 2vw, 2rem) !important;
	font-weight: 200;
	border-radius: 6px;
}