.map-component-container {
  min-width: 300px;
  height: 100% !important;
  max-height: 90vh !important;
  position: relative;
}

.map-container {
  min-height: 500px;
  height: 100% !important;
}

.search-box {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 190px;
  width: clamp(150px, 40%, 250px);
}
.search-box input {
  border-radius: 3px;
  height: 40px;
  background: white;
  color: black;
  padding-left: 0.5rem;
  width: 100%;
  border: 1px solid gray;
}
.search-box input::placeholder {
  color: gray;
}

.info-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box-exit-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .map-container {
    max-height: 90vh;
  }
}

@media (max-width: 410px) {
  .search-box {
    display: none;
  }
}
