.input-div {
  display: flex;
  align-items: center;
  padding: 0;
}

.input-div > button {
  padding: 0.5rem;
  height: min-content;
  margin-left: auto;
}

.input-dark {
  border: 1px solid white !important;
  box-shadow: none !important;
}

.input-light {
  border: 1px solid black !important;
  box-shadow: none !important;
}
