.input-div {
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.input-div > button {
  height: 100%;
  border-radius: 4px;
  border: none;
  border-left: 1px solid;
  margin-left: auto;
}
