.exit-images-container-wide {
  margin-bottom: 1rem;
}

.swiper-slide > img {
  width: 100%;
  height: clamp(25rem, 30vw, 40rem);
  object-fit: contain !important;
}

@media only screen and (max-width: 700px) {
  .swiper-slide {
    max-height: 70vw !important;
  }
}
