.navbar {
  height: 100px;
  max-width: 95vw;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 10px;
  align-items: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar-links {
  gap: 5vw;
}

h1 {
  font-weight: 300 !important;
  font-size: clamp(2rem, 13vw, 4rem) !important;
  margin: 0 3vw 0 1rem !important;
}
h1:hover {
  cursor: pointer;
}

h2 {
  font-weight: 200 !important;
  font-size: 1.5rem !important;
  display: none;
}
h2:hover {
  cursor: pointer;
}

h3 {
  font-weight: 200 !important;
  font-size: 1.5rem !important;
  margin: 0 2rem !important;
}

.avatar-placeholder {
  height: clamp(3rem, 6vw, 65%);
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 1rem;
}

.name-placeholder {
  display: none;
  margin-left: 0!important; /* Chakra has the margin property as "!important", so I had to do !important to override it. */
}

@media (min-width: 1000px) {
  .navbar-icon {
    display: none;
  }
  h2 {
    display: block;
  }
  h1 {
    margin: 0 7vw 0 2rem !important;
  }
}

@media (min-width: 600px) {
  .name-placeholder {
    display: block;
  }
}
